/* *************

CSS geral:

************* */

table {
border-collapse: collapse;
}

a { color: #588aa7; }

body {
font-family: Arial;
margin: 0 0 60px 0;
padding: 0;
font-size: 76%;
line-height: 1.6em;
background: #e7e7df;
}


.centered {
text-align: center;
margin: 0 0 60px 0;
} 

.headerBox {
width: 699px;
margin: 0 auto;
color: #fff;
margin-top: 20px;
margin-bottom: 21px;
}

.header {
width: 699px;
}

.header a {
color: #fff;
}

.frameBox {
border: 4px solid #d5d5ca;
width: 764px;
background: #fff;
margin: 0 auto;
}

.frame {
width: 694px;	
margin: 20px 30px 40px 30px;	
}

.Path{
font-size:  1.75em;
margin: 10px 0;
color: #888;
font-weight: bold;
height: 20px;
margin-bottom: 15px;
}

.Path a {
color: #6d9966;
}

.width100{
width: 100%;
}


/* *************

CSS da pagina de Projecto:

************* */
   
   
.stats {
color: #888;
margin-bottom: 20px;
margin-top: 0px;
}

.searchBox {
background: #f0f0e9;
border: 0px solid #eeeee5;
width: 695px;
height: 65px;
}

.search {
width: 84%;
margin-top: 15px;
margin-left: 25px;
}

.searchTextBox {
border: 1px solid #bbb;
}


.filterBox {
/*border: 2px solid #eeeee5;*/
background: #f8f8f3;
width: 695px;
height: 40px;
margin-top: 20px;
}

.filter{
margin-left: 20px;
width: 94%;
}


.featuresList{
margin-top: 30px;
}


/* *************

CSS das Sugestoes (usado na pag. do proj. e pag da sugestao:

************* */


.feature {
border-collapse: collapse;
margin-bottom: 45px;
}

.voteBox {
background: #fafaf5;
border: 4px solid #eeeee5;
width: 65px;
height: 70px;
}

.vote{
width: 100%;
}

.NumberVotes {
font-size: 1.6em;
font-weight: bold;
margin-top: 10px;
color: #588aa7;
}

.ActionVotes { 	
color: #588aa7;
font-size: 0.9em;
text-decoration: underline;
background: transparent;
width: 46px;
border: 0;
}

.ActionVotes:hover { 	
cursor: pointer;
}

.mainBox{
margin-left: 20px;
width: 600px;
}

.mainBox a{
font-size: 1.5em;
font-weight: bold;
text-decoration: none;
}

.featureTitle{
border-bottom: 2px solid #d5e2e9;
}

.featureDetailed{
margin-top: 20px;
}

.meta {
margin: 4px 0 2px 0;
font-size: 0.9em;
color: #999;
}
.meta a {
color: #999 !important;
text-decoration: none;
border-bottom: 1px solid #ddc;
}

/* *************

CSS da pagina dos Comentarios (pagina de Sugestao):

************* */

.commentTitle {
font-size:  1.5em;
margin-top: 20px;
margin-bottom: 5px;
margin-left: 89px;
color: #888;
font-weight: bold;
}

.comment{
margin-top: 5px;
margin-bottom: 15px;
padding: 0px 0 0px 89px;
border-top: 1px dotted #ccc;
}

.newComment {
width: 100%;
border-top: 1px dotted #ccc;
margin-top: 5px;
}

.commentTextArea{
margin-top: 10px;
margin-left: 89px;	
}

.commentButton{
margin-top: 10px;
margin-left: 89px;	
}
	
/* *************

CSS da pagina Adicionar Sugestao:

************* */	
	
p.label {
margin: 10px 0 3px 0;
padding: 0;
}

p.input {
margin: 0;
padding: 0;
}

.titleTextBox {
padding: 4px;
background: #fafafa;
border: 1px solid #bbb;
}

.descriptionTextBox {
width: 600px;
height: 80px;
padding: 4px;
background: #fafafa;
border: 1px solid #bbb;
}

.CreateFeatureCell{
font-weight: normal;
vertical-align: top;
text-align: left;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 15px 10px 15px 0;
}

.createButtons{
margin-top: 20px;
}

.pright5{
margin-right: 7px;	
}


.admin{
margin-bottom: 15px;	
}

