
.gwt-Hyperlink{
	display: inline;
}

.gwt-Label{
	display: inline;
}

.gwt-PushButton{
	display: inline;
} 

body {
font-family: Arial;
margin: 0 0 60px 0;
padding: 0;
font-size: 76%;
line-height: 1.6em;
background: #e7e7df;
}



.centered {
text-align: center;
margin: 0 0 60px 0;
} 


div, table, form, p, table, tr, td, h1, h2, h3, ul, li {
margin: 0;
padding: 0;
} 

table {
border-collapse: collapse;
}
a { color: #588aa7; }
p { margin: 1em 0; }

.headerBox {
width: 699px;
margin: 0 auto;
color: #fff;
margin-top: 20px;
margin-bottom: 21px;
}

.header {
width: 699px;
}

.header a {
color: #fff;
}

h1 {
font-size: 1.0em;
margin: 10px 0;
}
h2 {
font-size: 1.75em;
margin: 10px 0;
}
h3 {
font-size: 1.5em;
}

div.clear {
clear: both;
line-height: 0;
font-size: 0;
height: 0;
}


.frameBox {
border: 4px solid #d5d5ca;
width: 764px;
background: #fff;
margin: 0 auto;
}

.frame {
width: 694px;	
margin: 20px 30px 40px 30px;	
}

.Path{
font-size:  1.75em;
margin: 10px 0;
color: #888;
font-weight: bold;
height: 20px;
margin-bottom: 15px;
}

.Path a {
color: #6d9966;
}

.width100{
width: 100%;
}

.stats {
color: #888;
margin-bottom: 20px;
margin-top: 0px;
}

.searchBox {
background: #f0f0e9;
border: 0px solid #eeeee5;
width: 100%;
height: 65px;
}

.search {
width: 84%;
margin-top: 15px;
margin-left: 25px;
}

div#box table {
}
div#box table tr td {
vertical-align: middle;
padding: 4px 5px 0 0;
}
div#box table tr td input {
padding: 0;
margin: 0 5px 0 0;
}
div#box table tr td.search {
padding-top: 2px;
}

.searchTextBox {
border: 1px solid #bbb;
}


.filterBox {
/*border: 2px solid #eeeee5;*/
background: #f8f8f3;
width: 100%;
height: 40px;
margin-top: 20px;
}

.filter{
margin-left: 20px;
width: 94%;
}


.featuresList{
margin-top: 30px;
}

.feature {
border-collapse: collapse;
margin-bottom: 45px;
}



.voteBox {
background: #fafaf5;
border: 4px solid #eeeee5;
width: 65px;
height: 70px;
}

.vote{
width: 100%;
}

.NumberVotes {
font-size: 1.6em;
font-weight: bold;
margin-top: 10px;
color: #588aa7;
}

.ActionVotes { 	
color: #588aa7;
text-decoration: underline;
}

.ActionVotes:hover { 	
cursor: pointer;
}

.mainBox{
margin-left: 20px;
width: 615px;
}

.mainBox a{
font-size: 1.5em;
font-weight: bold;
text-decoration: none;
}

.featureTitle{
border-bottom: 2px solid #d5e2e9;
}

.featureDetailed{
margin-top: 20px;
}

table.request a {
color: #588aa7;
}

table.request h3 a {
text-decoration: none;
border-bottom: 2px solid #d5e2e9;
}
table.request h3 span.status {
font-size: 0.7em;
padding: 2px 4px;
color: #fff;
font-weight: normal;
}
table.request tr td.tdbody {
padding-left: 20px;
}
table.request td.tdbody p {
margin: 0;
}
.meta {
margin: 4px 0 2px 0;
font-size: 0.9em;
color: #999;
}
.meta a {
color: #999 !important;
text-decoration: none;
border-bottom: 1px solid #ddc;
}
table.request h3 span.new { background: #588aa7; }
table.request h3 span.planned { background: #588aa7; }
table.request h3 span.implementation { background: #588aa7; }
table.request h3 span.completed { background: #588aa7; }

.comment{
margin: 20px 0 0 0;
padding: 10px 0 0px 89px;
border-top: 1px dotted #ccc;
}

.newComment {
width: 100%;
border-top: 1px dotted #ccc;
}

.commentTextArea{
margin-top: 10px;
margin-left: 89px;	
}

.commentButton{
margin-top: 10px;
margin-left: 89px;	
}
	

div.comment p {
margin: 0;
}
div.comment p.meta {
margin: 0;
font-size: 0.9em;
color: #999;
}
div.comment p.meta a {
color: #999 !important;
text-decoration: none;
border-bottom: 1px solid #ddc;
}


p.label {
margin: 10px 0 3px 0;
padding: 0;
}

p.input {
margin: 0;
padding: 0;
}

.titleTextBox {
padding: 4px;
background: #fafafa;
border: 1px solid #bbb;
}

.descriptionTextBox {
width: 600px;
height: 80px;
padding: 4px;
background: #fafafa;
border: 1px solid #bbb;
}

.CreateFeatureCell{
font-weight: normal;
vertical-align: top;
text-align: left;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 15px 10px 15px 0;
}

.createButtons{
margin-top: 20px;
}

.pright5{
margin-right: 7px;	
}

.aleft { text-align: left; }
.aright { text-align: right; }


table.title {
border-collapse: collapse;
width: 100%;
margin:0;
}

a.back {
display: block;
/*
background: #fafaf5;
border: 1px solid #eeeee5;
*/
text-decoration: none;
padding: 2px 4px;
width: 50px;
text-align: center;
float: right;
}
