body,td,a,div,.p{font-family:arial,sans-serif;}

h1 { 	text-align: center;
   }


a:link,.w,.w a:link{color:#0000cc;}

a:visited{color:#0000cc;}

a:active{ 	}


.body{		
		color: black;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
		margin-left: 0px ;
		background-color: white;
		text-align:center;
		}
			
.content{
 		width: 650px;
		height: 97%;
		margin: auto;
		}

.topBG{
		color: white;
		margin-right: 0px;
		margin-left: 0px;
		margin: auto;
		height: 1px;
		width: 700px;
		background-color: black;
		}
			
.featuresBG{	
		width: 500px;
		height: 100%;
		background-color: #f3f3f3; 
		}

.menuBG{
		width: 200px;
		height: 100%;
		background-color: #777777;	 
		}
		
.menu{
		color: blue;
		left: 6px;
		position: relative;
		padding: 3px;
		}				

.featuresList{
		width: 500px;
		height: 1%;
}

.createFeature{
		width: 500px;
		height: 1%;
}

.featureResume{
		border-width: 2px;
		border-color: black;
		border-style: solid;
		width: 480px;
		padding: 6px;
		margin: 10px;
		}
		
.featureResume{
		width: 480px;
		padding: 6px;
		margin: 10px;
		}
		
.gwt-Button {
		background:#C3D9FF;
		border:1px solid #aaa;
		border-top:1px solid #ddd;
		border-left:1px solid #ddd;
		padding: 2px;
		width: 10em;
}

.gwt-Button:active {
		border:1px solid #aaa;
		border-bottom:1px solid #ccc;
		border-right:1px solid #ccc;
}

.gwt-Button[disabled] {
		background: #ccc;
		border:1px solid #999;
		border-top:1px solid #ccc;
		border-left:1px solid #ccc;
		color: #888;
}


