body,td,a,div,.p{font-family:arial,sans-serif;}

h1 { 	text-align: center;
   }

h3 {

}

a:link,.w,.w a:link{color:#0000cc;}

a:visited{color:#0000cc;}

a:active{ 	}


.body{		
		color: black;
		margin-top: 6px;
		margin-bottom: 55px;
		margin-right: 0px;
		margin-left: 0px ;
		background-color: white;
		text-align:center;
		background-color: #ffff04;
		}
			
.main{
 		width: 1px;
		height: 1px;
		margin: 0 auto;
		text-align:top;
		}

.top{
		color: white;
		margin-right: 0px;
		margin-left: 0px;
		margin: auto;
		padding: 8px;
		width: 100%;
		background-color: black;
		}
			
.content{	
		width: 500px;
		height: 500px;
		background-color: #e3e3e3;
		padding: 10px; 
		}

.menuBox{
		width: 200px;
		height: 100%;
		min-height: 500px;
		background-color: #ffffff;	 
		}
		
.menu{  
		left: 6px;
		position: relative;
		padding: 0px;
		}				

.featuresList{
		width: 500px;
		height: 1px;	
}

.createFeature{
		width: 500px;
		height: 1px;
}

.featureResume{
		border-width: 2px;
		border-color: black;
		border-style: solid;
		width: 480px;
		padding: 9px;
		margin: 10px;
		}
		
.gwt-Button {
		background: #ffff74 ; <!-- #C3D9FF; -->
		border:1px solid #aaa;
		border-top:1px solid #ddd;
		border-left:1px solid #ddd;
		padding: 2px;
		width: 10em;
}

.gwt-Button:active {
		border:1px solid #aaa;
		border-bottom:1px solid #ccc;
		border-right:1px solid #ccc;
}

.gwt-Button[disabled] {
		background: #ccc;
		border:1px solid #999;
		border-top:1px solid #ccc;
		border-left:1px solid #ccc;
		color: #888;
}


